<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset="utf-8" />
        <meta httq-equiv="Content-Type" content="text/html" />
        <title>Blog do Jensen: {% block titulo %} {% endblock %}</title>
    </head>

        <header>
            <nav>
                <a href=" {% url 'index' %} ">Home</a>
                <a href=" {% url 'admin:index' %} ">Admin Login</a>
            </nav>
        </header>
        
        <article>
            <div class="content">
                {% block conteudo %} {% endblock %}
            </div>
        </article>
        
        <footer>
            
        </footer>
    </body>
</html>