{% extends 'projeto/base.html' %}

{% block titulo %} {{ post.titulo }} {% endblock %}

{% block conteudo %}
	<div class="post.titulo">{{ post.titulo }}</div>
	<div class="post.autor">{{ post.autor }}</div>
	<div class="post.conteudo">{{ post.conteudo }}</div>
	
	<!-- Como o link do post nao é obrigatorio, faço uma verificacao se eles existe -->
	{% if post.link %}
		<div class="{{ post.link }}"> Leitura adcional
			<a href="{{ post.link }}">{{ post.link }}</a>
		</div>
	{% endif %}
{% endblock %}